{% extends "coaching/_base.html" %}
{% block title %}Coaching Request{% endblock title %}
{% block content %}
<section class="bg-white dark:bg-gray-900">
    <div class="mx-auto max-w-2xl px-4 py-8 lg:py-10">
        <h2 class="mb-6 text-xl font-bold text-gray-900 dark:text-white">Make a Coaching Request</h2>

        <p class="mb-6 max-w-2xl text-center font-light text-gray-500 dark:text-gray-400 md:text-lg lg:mb-8 lg:text-xl">You selected the <strong>{{ plan.name }}</strong> plan.</p>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.tags == 'success' %}
                        <div class="mb-4 rounded-lg bg-green-50 p-4 text-sm text-green-800 dark:bg-gray-800 dark:text-green-400" role="alert">
                            <span class="font-medium">Success!</span> {{ message }}
                        </div>
                    {% else %}
                        <div class="mb-4 rounded-lg bg-red-50 p-4 text-sm text-red-800 dark:bg-gray-800 dark:text-red-400" role="alert">
                            <span class="font-medium">Error!</span> {{ message }}
                        </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                <label for="id_timezone" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Your Timezone</label>
                    {% if form.timezone.errors %}
                        <ul class="errorlist">
                            {% for error in form.timezone.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {{ form.timezone }}
                </div>
                <div class="sm:col-span-2">
                    <label for="id_scheduled_datetime" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Date</label>
                     {% if form.scheduled_datetime.errors %}
                         <ul class="errorlist">
                             {% for error in form.scheduled_datetime.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.scheduled_datetime }}
                </div>
                <div class="sm:col-span-2">
                    <label for="id_available_times" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Available Times</label>
                     {% if form.available_times.errors %}
                         <ul class="errorlist">
                             {% for error in form.available_times.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.available_times }}
                </div>
                <div class="w-full">
                    <label for="id_name" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Name</label>
                     {% if form.name.errors %}
                         <ul class="errorlist">
                             {% for error in form.name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.name }}
                </div>
                <div class="w-full">
                    <label for="id_phone" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Phone</label>
                     {% if form.phone.errors %}
                         <ul class="errorlist">
                             {% for error in form.phone.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.phone }}
                </div>
                <div class="w-full">
                    <label for="id_email" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Email</label>
                     {% if form.email.errors %}
                         <ul class="errorlist">
                             {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.email }}
                </div>
                <div>
                    <label for="id_referral_source" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Referral Source</label>
                     {% if form.referral_source.errors %}
                         <ul class="errorlist">
                             {% for error in form.referral_source.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.referral_source }}
                </div>
                <div class="sm:col-span-2">
                    <label for="id_details" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Details</label>
                     {% if form.details.errors %}
                         <ul class="errorlist">
                             {% for error in form.details.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ form.details }}
                </div>
            </div>
            {{ form.plan }}
            <button type="submit" class="mt-4 inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 sm:mt-6">
                Submit Request
            </button>
        </form>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dateInput = document.getElementById('id_scheduled_datetime');
        const timezoneSelect = document.getElementById('id_timezone');
        const availableTimesSelect = document.getElementById('id_available_times');
        const form = document.querySelector('form');

        function updateAvailableTimes() {
            const selectedDate = dateInput.value;
            const selectedTimezone = timezoneSelect.value;

           fetch(form.action, {
                method: 'POST',
                headers: {
                   'Content-Type': 'application/x-www-form-urlencoded',
                   'X-CSRFToken': document.querySelector('[name="csrfmiddlewaretoken"]').value,
                },
                body: new URLSearchParams({
                    'scheduled_datetime': selectedDate,
                    'timezone': selectedTimezone,
                    'available_times': ''
                })
           })
           .then(response => response.text())
           .then(html => {
               const parser = new DOMParser();
               const doc = parser.parseFromString(html, 'text/html');
                const newAvailableTimesSelect = doc.getElementById('id_available_times')
                availableTimesSelect.innerHTML = newAvailableTimesSelect.innerHTML;
           })
           .catch(error => console.error('Error:', error));


        }
        dateInput.addEventListener('change', updateAvailableTimes);
        timezoneSelect.addEventListener('change', updateAvailableTimes);
    });
</script>
{% endblock content %}