<div class="my-4 flex justify-center sm:mt-0 sm:justify-end rtl:space-x-reverse" dir="ltr" data-aos="fade-in" data-aos-duration="800" data-aos-anchor-placement="top">
  <a href="https://www.instagram.com/lifecoach.hassanzaki/profilecard/?igsh=aDY3bWUzMHAyanA0" target="_black" class="text-3xl text-primary-500 transition-colors hover:text-primary-700"
      data-aos="zoom-in" data-aos-delay="0" data-aos-duration="800" data-aos-anchor-placement="top">
      <i class="fa-brands fa-instagram"></i>
      <span class="sr-only">instagram</span>
  </a>
  <a href="https://www.facebook.com/share/17z2hH4JWm/?mibextid=wwXIfr" target="_black" class="ml-5 text-3xl text-primary-500 transition-colors hover:text-primary-700"
     data-aos="zoom-in" data-aos-delay="100" data-aos-duration="800" data-aos-anchor-placement="top">
      <i class="fa-brands fa-facebook"></i>
      <span class="sr-only">facebook</span>
  </a>
  <a href="https://www.youtube.com/@Lifecoach.hassanzaki" target="_black" class="ml-5 text-3xl text-primary-500 transition-colors hover:text-primary-700"
     data-aos="zoom-in" data-aos-delay="200" data-aos-duration="800" data-aos-anchor-placement="top">
      <i class="fa-brands fa-youtube"></i>
      <span class="sr-only">youtube</span>
  </a>
  <a href="https://www.tiktok.com/@lifecoach_hassanzaki?_t=ZS-8sW3V3aYrTT&_r=1" target="_black" class="ml-5 text-3xl text-primary-500 transition-colors hover:text-primary-700"
     data-aos="zoom-in" data-aos-delay="300" data-aos-duration="800" data-aos-anchor-placement="top">
      <i class="fa-brands fa-tiktok"></i>
      <span class="sr-only">tiktok</span>
  </a>
  <a href="https://www.linkedin.com/in/coach-hassanzaki-a80310343?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_black" class="ml-5 text-3xl text-primary-500 transition-colors hover:text-primary-700"
     data-aos="zoom-in" data-aos-delay="400" data-aos-duration="800" data-aos-anchor-placement="top">
      <i class="fa-brands fa-linkedin"></i>
      <span class="sr-only">linkedin</span>
  </a>
</div>